/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/finalproject -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data

    input           =       'https://raw.githubusercontent.com/iaradsouza1/test-dataset/main/samplesheet.csv'

    fasta_filter    =       'https://github.com/iaradsouza1/test-dataset/raw/main/genome/sub_csabeus_26.fasta.gz'
    gtf_filter      =       'https://ftp.ensembl.org/pub/release-109/gtf/chlorocebus_sabaeus/Chlorocebus_sabaeus.ChlSab1.1.109.abinitio.gtf.gz'

    fasta_align     =       'https://ftp.ensemblgenomes.ebi.ac.uk/pub/release-56/bacteria//fasta/bacteria_117_collection/escherichia_coli_110957_gca_000485615/dna/Escherichia_coli_110957_gca_000485615.ASM48561v1.dna_rm.toplevel.fa.gz'
    gtf_align       =       'https://ftp.ensemblgenomes.ebi.ac.uk/pub/release-56/bacteria//gtf/bacteria_117_collection/escherichia_coli_110957_gca_000485615/Escherichia_coli_110957_gca_000485615.ASM48561v1.56.gtf.gz'

    star_index = null
    save_unmapped = "Fastx"
    ignore.gtf = 'true'
    seq_center = 'ufmg'
    seq_platform = 'illumina'

    // Output path
    outdir = "$projectDir/results"

}
