/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/finalproject -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '12.GB'
    max_time   = '6.h'

    // Input data
    // input = "https://raw.githubusercontent.com/iaradsouza1/test-dataset/main/samplesheet.csv"
    input = "file:///home/iaradsouza/samplesheet.csv"

    fasta_filter = "https://github.com/iaradsouza1/test-dataset/raw/main/genome/sub_csabeus_26.fasta.gz"

    // fasta_align = "https://github.com/iaradsouza1/test-dataset/raw/main/genome/sub_tcruzi_1_4.fasta.gz"
    fasta_align = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/genome.fasta"
    gtf_align = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/genes.gtf"

}
